@model POECLDV6212.Models.Customer

<h1>Add New Customer</h1>

<form asp-action="AddCustomer" method="post">
    <div class="form-group">
        <label asp-for="Full_Name"></label>
        <input asp-for="Full_Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone_Number"></label>
        <input asp-for="Phone_Number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="password" type="email" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
